
[submodule ".github/use/mseide-msegui"]
	path = .github/use/mseide-msegui
	url = git@github.com:mse-org/mseide-msegui.git
[submodule ".github/use/fpGUI"]
	path = .github/use/fpGUI
	url = git@github.com:graemeg/fpGUI.git
